@import url('font/typicons.min.css');
@import url('webfont/stylesheet.css');
@import url('animations.css');
@import url('hint.min.css');

// Colors
@blue: #34495e;
@btn-blue: #2079ad;
@green: #16A085;
@emerald: #2ecc71;
@yellow: #F1C40F;
@orange: #F39C12;
@red: #fa5e5b;
@facebook: #4C66A4;
@google-plus: #DD4B39;
@twitter: #2FC2EF;
@body-bg: #EEEEEE;
@not-white: #656a74;
@header-bg: #392e65;
@disabled: #CBD9E4;
@dark: #4e5051;

.reg { font-family: "Graphik Web", sans-serif; font-weight: 400;}
.bold { font-family: "Graphik Web", sans-serif; font-weight: 600;}
html { font-size: 62.5%; height: 100%; }
    
body {
  .reg;
  font-size: 16px; font-weight: 400; 
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: #444; height: 100%;
}
    
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, button {
  color: @btn-blue;
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer; }

a:hover {
  text-decoration: underline;
}

.transition(@string: all 0.1s ease-in-out) {
    -webkit-transition: @string;
    -moz-transition:    @string;
    -ms-transition:     @string;
    -o-transition:      @string;
    transition:         @string;
}

.transform(@string) {
-webkit-transform: @string;
-moz-transform:    @string;
-ms-transform:     @string;
-o-transform:      @string;
transform:         @string;
}
    
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

ul { list-style: none; margin: 0; padding: 0; }

.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.font-size(@pxValue) {
    @remValue: (@pxValue/10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem"; }
    
.box-shadow(@x: 0, @y: 0, @blur: 3px, @color: rgba(0,0,0,0.3)) {
    -webkit-box-shadow:  @arguments;
    -moz-box-shadow:     @arguments;
    -ms-box-shadow:      @arguments;
    -o-box-shadow:       @arguments;
    box-shadow:          @arguments;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {  background: @color;

  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.is-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.square(@x) {
    height: @x;
    width: @x; }
    
.db() { display: block; }
.dib() { display: inline-block; }
.none { display: none; }
.absol() { position: absolute; }
.fixed() {position: fixed; }
.rel() { position: relative; }
.cp() { cursor: pointer; }
.fl() { float: left; }
.fr() { float: right; }

.ptb-80 { padding: 80px 0; }
.ptb-40 { padding: 40px 0; }
    
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  .font-size(16);
  line-height: 1; }

section {
  .rel;
}

.i.lg {
  .font-size(18);
  margin-right: 2px;
}

.btn {
  border: 0;
  color: white;
  .gradient (@btn-blue,darken(@btn-blue, 3%),@btn-blue);
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  margin: 10px 0;
  outline: none; .dib;
  .font-size(13);
  .reg; text-decoration: none;
  cursor: pointer;
  border-radius: 2px;

  &.lg {
    .font-size(15);
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    border: solid 1px;
  }

  &.vlg {
    .font-size(20);
    height: 51px;
    line-height: 51px;
    padding: 0 30px;
  }

  &.sm {
    margin: 0;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
  }

  &.round {
    .square(36px);
    border-radius: 50%;
    padding: 0; line-height: 36px;
    text-align: center;
  }

  &.green {
    background: @green;
    border-color: @green;
  }

  &.emerald {
    background: @emerald;
    border-color: @emerald;
  }

  &.red {
    .gradient (@red,darken(@red, 3%),@red);
    border-color: transparent;
  }

  &.clear {
    background: none;
    border: solid 1px @disabled;
    color: #444;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &.full {
    width: 100%;
    text-align: center;
  }

  .i-in {
    .transition(all 0.3s);
    .transform( translateX(-20px));
    opacity: 0; width: 0; .dib;

    &.alt {      
      .transform( translateX(20px));
    }
  }

  &:hover {
    .i-in {
      .transform( translateX(0));
      opacity: 1;

      &.alt {
        .transform( translateX(-15px));
      }
    }

    text-decoration: none;
    .transform(translateY(-1px));
  }

  &:active  {
    .transform(translateY(0));
  }

  &.is-disabled {
    background: @disabled;
    pointer-events: none;
  }
}

.white-bg {
  background: white;
}

.hidden { .none !important; }

.show-from-tab {
  @media all and (min-width:860px) {
    .none;
  }
}

.no-from-tab {
  @media all and (max-width:860px) {
    .none;
  }
}

.no-pad { padding: 0 !important; }
.no-pad-lg { 
  @media all and (min-width:640px) {
  padding: 0 !important; }
}

.btop {
  border-top: solid 1px @body-bg;
  padding-top: 20px;
  margin-top: 20px;
}

.upper(@font-size, @lt-space: 0) {
  text-transform: uppercase;
  .bold;
  .font-size(@font-size);
  letter-spacing: ~"@{lt-space}px";
}

/* #Forms
================================================== */

form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
}

input, button, select, textarea { font-family:  inherit; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  border: 0; .font-size(15);
  background: inherit;
  border-bottom: dashed 1px #DDD;
  padding: 15px;
  text-indent: 0;
  outline: none;
  width: 100%;
  margin: 10px 0;

  &.inline {
    width: 250px;
    margin: 0 10px;
  }

  &.lg {
  .font-size(17);
  }
 
  &:focus {
    border-color: @green;
  }
}

input[type="checkbox"] {
  display: inline;
}

label,
legend {
  clear: both; .db;
  padding: 10px 0;

  &.sm {
    .font-size(13);
    padding-top: 0;
    cursor: pointer;
  }

  &.lg {
    margin-top: 10px;
    padding: 15px 0;
  }

  &.inline {
    .dib; margin-bottom: 5px;
  }

  small {
    .font-size(11);
    text-transform: uppercase;
    color: #999;
    .db; margin-top: 3px;
  }
}

.with-label { display: none !important; }

.with-label + label {  
  cursor: pointer;
  .font-size(14);
  padding: 10px 15px;
  background: @disabled;
  color: white; .rel;
  border-radius: 2px;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    .transition(all 0.3s);   
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: @green;
  }
}

.with-label.sm + label {
  .font-size(13);
}

.with-label+ label:hover {
  background: darken(@disabled, 20%);
}

.with-label:checked + label {
  &:after {
    height: 100%;
  }
}

.i-before {
  .rel; 

  .i {
    .absol; left: 15px;
    .font-size(20);    
    bottom: 35%;
    color: #DDD;

    &.sm-top {
      bottom: 50%;
    }

    &.md-top {
      bottom: 62%;
    }
  }

  input {
    padding-left: 30px;
  }
}

// Dropdown

.dropdown-wrap {
  position: relative;
  max-width: 70%;
  margin-right: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  z-index: 10; .bold;
  color: @green;
  .font-size(18);
  

  &:after {
    content: "";
    width: 0; height: 0;
    position: absolute;
    right: 0; top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: @green transparent;
  }

  .dropdown {
    position: absolute;
    .font-size(14);
    top: 100%; width: 140px;
    left: 20px; .reg;
    background: white;
    border: solid 1px #eeeeee;
    .transition;  opacity: 0;
    pointer-events: none;
  
    li {
      a {
        display: block;
        text-decoration: none;
        color: #333333;
        padding: 10px 20px;
        border-bottom: solid 1px #eeeeee;
        .transition;

        i { margin-right: 5px; }
      }

      &:hover {
        a { background: #eeeeee; }
      }
    }
  }

  &.active {
    z-index: 4;

    &:after {
      border-width: 0 6px 6px 6px;
    }

    .dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }
}


// Main

.header {
  height: 45px;
  line-height: 45px;
  padding: 0 0 0 20px;
  background: @blue;
  color: white; left: 0; top: 0;
  .fixed; width: 100%;
  z-index: 100;

  &.clear { background: none; }
  &.absol { .absol; }
  &.pad-top { top: 30px; }
  &.pad-top-small { top: 10px; }
  &.thin { width: 180px; }

  // Tablet Below
  @media all and (max-width: 860px) {
    top: 0 !important; padding: 0;
    &.clear { background: @blue; }
  }

  .logo { margin-right: 20px; }
  #toggleMenu { .font-size(20); cursor: pointer; }

  ._menu {
    a { 
      padding: 0 7px; 
      color: white;
      .font-size(13);

      &.with-i {
        padding: 0 3px;
        color: #333;
      }

      &.pin-tab {
        color: white;
        background: @red;
        padding: 0 10px;

        &.subtle {
          background: #CCC;
        }

        // Tablet Below
        @media all and (max-width: 860px) {
          background: none;
          &.subtle {
            background: none;
          }
        }
      }
    }

    i {
      .font-size(24);
    }
  }

  #search {
    .box-shadow(); left: 0;
    .absol; width: 100%;
    top: -10px; background: white;
    .transform(translateY(-100%));
    .transition(all 0.4s ease);

    &.show {
      .transform(translateY(0));
    }

    input {
      float: left;
      height: 30px;
      line-height: 30px;
      border: none;
      padding-left: 50px;
    }

    .i {
      color: #333;
      top: 0;
    }

    .toggle-search {
      left: auto;
      right: 0;
      .font-size(24);
      cursor: pointer;
    }
  }
}

.landing {
  padding: 170px 0 200px;
  background: url(../img/home-alt.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  color: white; min-height: 100%;

  @media all and (max-width: 640px) {
    padding: 100px 0 70px;
  }

  h1 {
    .font-size(70); .bold;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h6 {
    .font-size(17);
    line-height: 1.3;
    margin-top: 20px;
  }

  .action {
    .btn { color: white; font-weight: normal; }
  }

  .status-wrap {
    background: rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
    border-radius: 25px;
    .box-shadow(inset 0px, 1px, 2px, rgba(0,0,0,0.1));
  }

  .status {
    width: 100%;
    height: 5px; .rel;
    background: white;  
    border-radius: 10px;
    overflow: hidden;

    .level {
      .absol; width: 30%;
      height: 100%; left: 0;
      top: 0; background: @green;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
}

.ld-section {
  padding: 100px 0 0;
  .dib; width: 100%;

  h1 { .font-size(40); .bold; }
  h2 { .font-size(24); padding-top: 50px; }
  h3 { .font-size(17); margin-bottom: 50px; line-height: 1.4;}
  p { line-height: 1.4; }

  .feature {
    margin-bottom: 20px;

    img {
      width: 100%;
      margin: 20px 0 7px;
    }

    h4 {
      .bold;
      .font-size(20);
    }
  }

  &.dk {
    background: whitesmoke;
  }
}

.sonar {
  margin-top: -150px;.rel;

  .talk {
    .absol; width: 100px;
    left: 0; right: 0;
    bottom: 100px; margin: 0 auto;
  }
}

.invite {
  margin-top: 40px;
  width: 100%; .dib;
  padding: 20px 20px 0;
  .font-size(14);

  .btn {margin-left: 10px;}
}

.create-account {
  .fixed; top: 0;
  left: 0; .none;
  background: white;
  min-height: 100%;
  width: 100%;
  z-index: 200;
}

.setup-header {
  padding-top: 15%;

    //Hack to make it sticky
  @media all and (min-width: 860px) {
    .fixed; width: 18em;
  }

  .logo { 
    margin-bottom: 20px;
    margin-right: 10px;
  }

  h1 { 
    .font-size(26); margin-bottom: 40px;
    padding-top: 10px; color: @blue;
    line-height: 1.4; margin-bottom: 20px;
  }

  h3 {
    line-height: 1.4;
    color: #6d7982;
    margin-top: 0;
  }
}

.setup {
  @media all and (min-width: 640px) {
    border-left: solid 1px @body-bg;
    padding: 15% 0 0;
  }
}

.footer {
  background: @body-bg;
  .box-shadow(inset 0, 3px, 5px, rgba(0,0,0,0.05));
  margin-top: 30px;
  padding: 30px 0 15px;

  .logo { .fl; }

  ul {
    margin-left: 20px; .fl;
    border-left: solid 2px @green;
    padding-left: 20px;

    a {
      margin-bottom: 5px;
      .font-size(13);
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #444; .db;
    }
  }

  .copyright {
    .font-size(12);
    color: #999;
    text-align: right;
  }
}


> .content {
  padding: 5% 0 20px 0;

  .white-wrap {
    background: white;
    .dib; width: 100%;
    border-radius: 3px;
    padding: 20px;

    &.lg { padding: 60px 40px;
     @media all and (max-width: 640px) {
      padding: 10px 0;
    } }

    @media all and (max-width: 640px) {
      padding: 10px 0;
    }
  }

  .next {
    padding: 50px 0 0 0;

    span { margin-right: 4px; }
  }

  .upload-avatar {
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
  }

  .skill-wrap {
    width: 90px;
    height: 100px;
    text-align: center;
    float: left;
    margin-right: 20px;
    .gradient(@yellow, @orange, @yellow);
    display: table;
    padding: 20px;
    border-radius: 2px;
    color: white;

    p {      
      display: table-cell;
      vertical-align: middle;
      margin: 0; .upper(12);
    }
  }

  // For autocomplete
  ul.tagit li.tagit-choice {
    .gradient (@green,darken(@green, 2%),@green);
  }

  .dot-after { 
    margin-bottom: 20px;
    padding: 0 0 20px;
    .rel;

    &:after {
      content: '';
      .square(6px);
      border-radius: 50%;
      background: #DDD;
      .absol; left: 50%;
      bottom: -10px;
    }
  }
}

//Progress background-repeat: /* Form Progress */
.progress {
  width: 100%;
  text-align: center;

   @media all and (max-width: 640px) {
      margin: 20px 0 40px 0;
    }
}

.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 28px; height: 28px;
  border-radius: 32px;
  border: 1px solid #d5d5da;
}

.progress .bar {
  position: relative;
  width: 30px;
  height: 6px;
  top: -2px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progress .circle .label {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 24px;
  border-radius: 24px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 12px;
}
/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: @btn-blue;
  border-color: @btn-blue;
}

.progress .bar.active {
  background: @blue;
}

.progress .circle.done .label {
  color: #FFF;
  background: @btn-blue;
}

.progress .circle.active .label {
  color: #FFF;
  background: @btn-blue;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}

// Dashboard
.dc-status {
  .fixed;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 6px 15px; z-index: 9999;
  color: white; top: 0; .font-size(13);
  left: 50%; .transform(translateX(-50%));

  &.danger { background: @red; }
  &.success { background: @emerald; }
  &.info { background: @blue; }
}

.full-height, body { height: 100%; }

.wrap {

  @media all and (min-width: 640px) {
    height: 100%;
  }

  .leftCol, .midCol, .rightCol {
    height: 100%; .fl;
    padding-top: 45px;
  }

  .leftCol {
    background: darken(@blue, 20%);
    width: 180px; .transition(.3s);
    .absol; top: 0;
    left: 0; z-index: 10;
    .font-size(14);

    // Tablet Below
    @media all and (max-width: 860px) {
      .transform(translateX(-100%));
    }

    &.moveX {
      .transform(translateX(0));
    }
  }

  .midCol {
    background: #f7f7f7;
    width: 100%; .rel;
    padding: 45px 0 10px;
     .transition(.3s);

    &.play {
      background: url(http://subtlepatterns.com/patterns/geometry.png);
    }

    // Tablet Above
    @media all and (min-width: 860px) {
      padding: 0 0 0 180px;
    }

    &.moveX {
      // Tablet Below
      @media all and (max-width: 860px) {
        .transform(translateX(180px));
      }
    }
  }

  .rightCol {
    width: 270px; top: 0;
    .fixed; right: 0;
    background: white;
    z-index: 20;
  }

  .profileBox {
    padding: 20px 20px 0 20px;

    .img-wrap {
      .square(45px); .rel;
      margin: 0 10px 0 -20px;
      background: #333;
    }

    &.circle {
      margin-left: 20px;

      .img-wrap {
        border-radius: 50%;
      }
    }

    ._username {
      padding-top: 5px;
      .font-size(13);

      a {
       color: #DDD; .db;
       margin-bottom: 5px;
     }
    }
  }

  .menuTitle {
    clear: both; .font-size(10);
    text-transform: uppercase;
    border-bottom: solid 1px darken(@blue, 22%);
    .bold; padding: 10px 20px; margin: 20px 0 0;
  }

  .menuList {
    li {
      line-height: 24px; .font-size(13);
      border-bottom: solid 1px darken(@blue, 22%);
      border-top: solid 1px darken(@blue, 18%);

      a {
        color: rgba(255, 255, 255, 0.5); .db;
        padding: 5px 20px;

       &:hover, &.active {
        color: white;
        text-decoration: none;
       }

        i { margin-right: 5px; }
      }
    }
  }

  .secondaryMenu {
    .absol; bottom: 0;
    width: 100%; left: 0;
    padding: 10px 20px; clear: both;

    li {
      .fl; .font-size(11);
      margin-right: 7px;

      a {        
       color: rgba(255, 255, 255, 0.3);

        &:hover {
          color: white;
        }

        &:after {
          content: "•";
          margin: 0 2px;
        }
      }

      &:last-child {
        a:after { .none; }
      }
    }
  }

  .similarList {
    padding: 20px;

    h3 {
      margin-top: 40px;
      .font-size(12);
      text-transform: uppercase;
      color: #555;
    }

    .img-wrap {
      width: 90%; height: 0;
      padding-bottom: 90%;
      margin: 5%;
      border-radius: 5px;
      background: #333;
    }
  }

  .tabs {
    padding: 20px;
    .font-size(14);

    &.v {
      width: 300px; background: #f7f7f7;
      height: 100%; .fl;
      .box-shadow(2px, 0, 3px, rgba(0,0,0,0.05));
      .transition(.3s);
      z-index: 200;

      // Tablet Above
      @media all and (max-width: 860px) {
        left: 0; .none;
      }

      button {
        opacity: 0;
      }
    }
  }

  .notifications { 
    padding: 0 10px;

    li {
      border-bottom: solid 1px @body-bg;
      .dib; width: 100%; padding: 20px 0;
      .font-size(13);

      p {
        margin: 0 0 0 40px;
      }

      .username {
        .bold;
      }

      .timestamp {
        padding-top: 5px;
        color: #999;
        .font-size(10);
      }
    }

    > p {
      line-height: 1.45;
    }

    .img-wrap {
      .square(30px);
      border-radius: 50%;
      background: #333;
      .fl;
    }

    a {
      color: @green;
    }
  }
}

.invite-dashboard {
  clear: both;

    .wrap {
      background: @blue;

      input {
        margin-top: 0;
        .font-size(13); color: white;
        border-bottom: 0;
        padding: 10px 20px;
      }

      p {
        .font-size(13);
        padding: 20px 20px 0 20px;
        margin-bottom: 5px;
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .hint {
      .font-size(12);
      padding: 0 20px;
      .none;
    }
}

/*For Form Validation Error Message */

.errordiv {
  color:  #fa5e5b;
  font-size: 11px;
  font-size: 1.1rem;
  padding-left: 15px;
  height: 15px;
}

.smalltext{
  font-size: 11px;
  font-size: 1.1rem;
}

/* Content */
.holder {
  padding: 20px 30px 0;
  margin: 0 auto; .rel;
  height: 100%; .fl;
  .transition(.3s);

  &.pad-big{
    padding: 5%;
  }

  &.pad-big-top {
    padding: 0;
    padding-top: 5%;
  }

  // Tablet below
  @media all and (max-width: 860px) {
    padding: 10px 20px 0;
  }

  &.moveX {
    .transform(translateX(90px));
  }
}

.feed {
  .rel; 

  .item-i {
    width: 50px;
    height: 60px; .fl;
    background: url(../img/dc-tags.png);

    // Mobile Phones

    &.float {        
      @media all and (max-width: 640px) {
        .absol; top: 10px;left: 10px;
      }
    }

    &.post {
      background-position: 0 0;
    }

    &.project {
      background-position: -50px 0;
    }

    &.project-alt {
      background-position: 0 -60px;
    }
  }

  .section-title {
    .bold; .font-size(12);
    color: @btn-blue;
    margin: 10px 0;
  }

  &.news {
    .posts {
      margin-left: 255px;

      // Mobile Phones
      @media all and (max-width: 640px) {
        margin: 20px 0; .dib;
      }
    }

    .post-image {
      .square(175px);
      background: white;
      .fl; margin: 0 10px;
      overflow: hidden;

      img { border-radius: 2px; }

      // Mobile Phones
      @media all and (max-width: 640px) {
        width: 100%; height: auto;
        margin: 0;
      }
    }

    .post-title {
      .bold;
      margin: 10px 0 0;
      text-transform: capitalize;
       a { color: @dark; &:hover { color: @btn-blue;} }
    }

    .post-meta {
      .font-size(11);
      margin-top: 2px;
      color: @not-white;
    }

    .post-share {
      .bold; opacity: 0;

      // Tablet below
      @media all and (max-width: 860px) {
        opacity: 1;
      }
    }

    li:hover {
      .post-share {
        opacity: 1;
      }
    }
  }
}

.share-modal {
  .absol; .square(100%); .none;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000; padding-top: 100px;

  a {
    color: #CCC;
    
    &.active { color: #141414; }
  }

  .action-desc {
    text-transform: uppercase; .font-size(12); .bold;
  }

  .main-text {
    .font-size(28);
    line-height: 1.2;
  }

  .closeshare {
    margin-top: 30px;
    .font-size(48);
  }
}

#grid {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
  clear: both;

  &.lg {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  &.big-tags {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.card {
  display: inline-block;
  background: #FEFEFE;
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 20px;
  .transition(.2s);
  .box-shadow(0,1px,2px, rgba(0,0,0,0.05));    

  header {
    width: 100%; .dib;

    .img-wrap {
      .square(50px); .fl;
      margin: 0 10px 0 0;
      border-radius: 50%;
      overflow: hidden;
      background: whitesmoke;
    }

    .meta {
      span { 
        .font-size(12);
        color: @not-white;
      }

      .title { 
        .font-size(13); 
        margin: 0;
        line-height: 1;

        a { .bold;}
      }
    }
  }

  .body {

    .content {
     .rel;   

      h3 {
        margin: 0; .bold; .font-size(18);
      }

      h4 {
        .font-size(15); line-height: 1.2;
        margin: 0 0 10px;
      }

      p {
        .font-size(13); margin-top: 5px;

        &.attribution{ .font-size(11);   }
      }

      .post-image {
        height: 0; .rel;
        padding-bottom: 50%;
        overflow: hidden;
        margin: 10px 0;

        &:before {
          content: ''; .square(100%); .absol; top: 0; left: 0;
          .gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.1));
        }
      }

      .meta {
        .font-size(12); color: #141414;
      }

      .post-text {
        .absol; left: 0; bottom: 0;
        padding: 0 10px; z-index: 2;
        color: white;

        a { color: white; }
      }
    }
    
  }
}

@media (max-width: 640px) {
  #grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 1600px) {
  #grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.buttons {
  li {
    background: white;
    border-radius: 2px;

    &.no-link {
      padding: 15px 20px;
      color: @btn-blue;margin-bottom: 5px;
    }

    i {
      .font-size(20);
    }

    a {
      padding: 15px 20px; .db;
      border-radius: 2px; .bold;
      margin-bottom: 5px;
      background: white;
      line-height: 20px;

      span {
        line-height: 1;
      }
    }

    &.active {
      a { color: white;  background: @green;}
    }

    &.finished {
      a { color: whitesmoke;  background: @not-white;}
    }
  }
}

.tools {
  .badge { margin-bottom: 3px; }
}

.big-tags {

  .card {
    padding: 0; .db;
    border-radius: 2px;
    text-align: center;

    a {
      .db; background: @green;
      color: white;
      padding: 50px 100px;
      border-radius: 2px;

      &:hover {
        text-decoration: none;
        background: @emerald;
      }
    }
  }
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    margin: 0 0 0.5em;
    *zoom: 1;
    width: 100%;
}

.comment-img {
    float: left; .dib;
    .square(50px);
    margin-right: 33px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-img img { display: block }

.comment-body { overflow: hidden }

.comment .text {
    padding: 10px;.font-size(14);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child { margin: 0 }
.comment .text p:first-child { margin-top: 0 }

.comment .attribution {
    margin: 0.5em 0 0;
    color: #666;
    .font-size(11);
}

/* Decoration */

.comments, .comment { position: relative }

.comments:before, .comment:before, .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    left: 61px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before { background: #3b5998 }

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

///////////////////////
///////////////////////
////Generic classes////
///////////////////////
///////////////////////

.bg-white {
  background: white;
}

.kudos{
  .absol; right: 100%; text-align: center; .font-size(13);
  top: 20px; margin-right: 5px; a { .font-size(18); margin-bottom: 3px; }
}

.title {
  .font-size(18);
  left: 0; line-height: 24px;

  &.bold {
    .bold; color: @green;
  }

  small, span  {
    .db; .reg;
    color: #777;
  }

  small { .font-size(12); }
}

.txt-lg {
  .font-size(30);
}

.txt-md {
  .font-size(16);
}

.txt-sm {
  .font-size(12);
}

.lt {
  .reg; //Force light with font
}

.shift-50 {
  margin-left: 50px;
}

.shift-60 {
  margin-left: 60px;
}

.m-n {
  margin: 0;
}

.m-b-n {
  margin-bottom:0;
}

.m-t-n {
  margin-top:0;
}

.m-r-s {
  margin-right: 5px;
}

.m-l-s {
  margin-left: 5px;
}

.m-t-s, .m-s {
  margin-top: 5px;
}

.m-b-s, .m-s {
  margin-bottom: 5px;
}

.m-t-m {
  margin-top: 15px;
}

.m-b-m {
  margin-bottom: 15px;
}

.m-b-l {
  margin-bottom: 30px;
}

.m-t-s {
  margin-top: 5px;
}

.m-b-s {
  margin-bottom: 5px;
}

.v-a-m {
  vertical-align: middle;
}

.b-t-m {
  margin-top: 10px; padding-top: 20px;
  border-top: solid 1px whitesmoke;

  &.shadow {
    border-top: 0;
    .box-shadow(inset 0, 2px, 3px, rgba(0,0,0,0.05));
  }

  &.dk {
    border-color: #F0F0F0;
  }
}

.badge {
  color: white; .bold;
  display: inline-table;
  padding: 3px 6px;
  border-radius: 2px;
  .font-size(11); .rel;
  background: @blue;

  &.lg {
    .font-size(13);
    padding: 5px 12px;
  }

  &.designer, &.available, &.active {
   background: @green;
  }

  &.clear {
    text-transform: uppercase;
    background: white;
    color: #444;
    .box-shadow(0, 0, 3px, rgba(0,0,0,0.1));
  }

  &.unavailable, &.cancelled {
    background: @red;
  }

  .i { 
    color: rgba(0, 0, 0, 0.5);
    margin-right: 2px;
  }

  .setStatus {
    .absol; width: 100%;
    top: 100%; left: 0;
    padding-top: 5px;
    z-index: 2; .none;
    text-align: center;
    .reg;

    ul{
      background: white;
      border-radius: 3px;

      li {

        a {
          padding: 7px 10px; .db;
          color: #444; margin: 0;
          .font-size(12);
          border-bottom: solid 1px @body-bg;

          &:hover {
             color:@green;
          }
        }

        &:last-child {
          a { border-bottom: 0;}
        } 
      }
    }
  }

  &:hover {
    .setStatus {
      .db;
    }
  }
}