@import url('font/typicons.min.css');
@import url('webfont/stylesheet.css');
@import url('animations.css');
@import url('hint.min.css');
.reg {
  font-family: "Graphik Web", sans-serif;
  font-weight: 400;
}
.bold {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Graphik Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: #444;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  color: #2079ad;
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
section {
  position: relative;
}
.i.lg {
  font-size: 18px;
  font-size: 1.8rem;
  margin-right: 2px;
}
.btn {
  border: 0;
  color: white;
  background: #2079ad;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e70a0), color-stop(1, #2079ad));
  background: -ms-linear-gradient(bottom, #1e70a0, #2079ad);
  background: -moz-linear-gradient(center bottom, #1e70a0 0%, #2079ad 100%);
  background: -o-linear-gradient(#2079ad, #1e70a0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2079ad', endColorstr='#1e70a0', GradientType=0);
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  margin: 10px 0;
  outline: none;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Graphik Web", sans-serif;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}
.btn.lg {
  font-size: 15px;
  font-size: 1.5rem;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  border: solid 1px;
}
.btn.vlg {
  font-size: 20px;
  font-size: 2rem;
  height: 51px;
  line-height: 51px;
  padding: 0 30px;
}
.btn.sm {
  margin: 0;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
}
.btn.round {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 0;
  line-height: 36px;
  text-align: center;
}
.btn.green {
  background: #16a085;
  border-color: #16a085;
}
.btn.emerald {
  background: #2ecc71;
  border-color: #2ecc71;
}
.btn.red {
  background: #fa5e5b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fa4f4c), color-stop(1, #fa5e5b));
  background: -ms-linear-gradient(bottom, #fa4f4c, #fa5e5b);
  background: -moz-linear-gradient(center bottom, #fa4f4c 0%, #fa5e5b 100%);
  background: -o-linear-gradient(#fa5e5b, #fa4f4c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa5e5b', endColorstr='#fa4f4c', GradientType=0);
  border-color: transparent;
}
.btn.clear {
  background: none;
  border: solid 1px #cbd9e4;
  color: #444;
}
.btn.clear:hover {
  background: rgba(255, 255, 255, 0.2);
}
.btn.full {
  width: 100%;
  text-align: center;
}
.btn .i-in {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
  width: 0;
  display: inline-block;
}
.btn .i-in.alt {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.btn:hover {
  text-decoration: none;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
.btn:hover .i-in {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.btn:hover .i-in.alt {
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
}
.btn:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.btn.is-disabled {
  background: #cbd9e4;
  pointer-events: none;
}
.white-bg {
  background: white;
}
.hidden {
  display: none !important;
}
@media all and (min-width: 860px) {
  .show-from-tab {
    display: none;
  }
}
@media all and (max-width: 860px) {
  .no-from-tab {
    display: none;
  }
}
.no-pad {
  padding: 0 !important;
}
@media all and (min-width: 640px) {
  .no-pad-lg {
    padding: 0 !important;
  }
}
.btop {
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  margin-top: 20px;
}
/* #Forms
================================================== */
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
}
input,
button,
select,
textarea {
  font-family: inherit;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  border: 0;
  font-size: 15px;
  font-size: 1.5rem;
  background: inherit;
  border-bottom: dashed 1px #DDD;
  padding: 15px;
  text-indent: 0;
  outline: none;
  width: 100%;
  margin: 10px 0;
}
input[type="text"].inline,
input[type="password"].inline,
input[type="email"].inline,
input[type="number"].inline,
textarea.inline,
select.inline {
  width: 250px;
  margin: 0 10px;
}
input[type="text"].lg,
input[type="password"].lg,
input[type="email"].lg,
input[type="number"].lg,
textarea.lg,
select.lg {
  font-size: 17px;
  font-size: 1.7rem;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: #16a085;
}
input[type="checkbox"] {
  display: inline;
}
label,
legend {
  clear: both;
  display: block;
  padding: 10px 0;
}
label.sm,
legend.sm {
  font-size: 13px;
  font-size: 1.3rem;
  padding-top: 0;
  cursor: pointer;
}
label.lg,
legend.lg {
  margin-top: 10px;
  padding: 15px 0;
}
label.inline,
legend.inline {
  display: inline-block;
  margin-bottom: 5px;
}
label small,
legend small {
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #999;
  display: block;
  margin-top: 3px;
}
.with-label {
  display: none !important;
}
.with-label + label {
  cursor: pointer;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px 15px;
  background: #cbd9e4;
  color: white;
  position: relative;
  border-radius: 2px;
  z-index: 2;
}
.with-label + label:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: #16a085;
}
.with-label.sm + label {
  font-size: 13px;
  font-size: 1.3rem;
}
.with-label + label:hover {
  background: #88a8c1;
}
.with-label:checked + label:after {
  height: 100%;
}
.i-before {
  position: relative;
}
.i-before .i {
  position: absolute;
  left: 15px;
  font-size: 20px;
  font-size: 2rem;
  bottom: 35%;
  color: #DDD;
}
.i-before .i.sm-top {
  bottom: 50%;
}
.i-before .i.md-top {
  bottom: 62%;
}
.i-before input {
  padding-left: 30px;
}
.dropdown-wrap {
  position: relative;
  max-width: 70%;
  margin-right: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  z-index: 10;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  color: #16a085;
  font-size: 18px;
  font-size: 1.8rem;
}
.dropdown-wrap:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #16a085 transparent;
}
.dropdown-wrap .dropdown {
  position: absolute;
  font-size: 14px;
  font-size: 1.4rem;
  top: 100%;
  width: 140px;
  left: 20px;
  font-family: "Graphik Web", sans-serif;
  font-weight: 400;
  background: white;
  border: solid 1px #eeeeee;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.dropdown-wrap .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333333;
  padding: 10px 20px;
  border-bottom: solid 1px #eeeeee;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.dropdown-wrap .dropdown li a i {
  margin-right: 5px;
}
.dropdown-wrap .dropdown li:hover a {
  background: #eeeeee;
}
.dropdown-wrap.active {
  z-index: 4;
}
.dropdown-wrap.active:after {
  border-width: 0 6px 6px 6px;
}
.dropdown-wrap.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}
.header {
  height: 45px;
  line-height: 45px;
  padding: 0 0 0 20px;
  background: #34495e;
  color: white;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header.clear {
  background: none;
}
.header.absol {
  position: absolute;
}
.header.pad-top {
  top: 30px;
}
.header.pad-top-small {
  top: 10px;
}
.header.thin {
  width: 180px;
}
@media all and (max-width: 860px) {
  .header {
    top: 0 !important;
    padding: 0;
  }
  .header.clear {
    background: #34495e;
  }
}
.header .logo {
  margin-right: 20px;
}
.header #toggleMenu {
  font-size: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.header ._menu a {
  padding: 0 7px;
  color: white;
  font-size: 13px;
  font-size: 1.3rem;
}
.header ._menu a.with-i {
  padding: 0 3px;
  color: #333;
}
.header ._menu a.pin-tab {
  color: white;
  background: #fa5e5b;
  padding: 0 10px;
}
.header ._menu a.pin-tab.subtle {
  background: #CCC;
}
@media all and (max-width: 860px) {
  .header ._menu a.pin-tab {
    background: none;
  }
  .header ._menu a.pin-tab.subtle {
    background: none;
  }
}
.header ._menu i {
  font-size: 24px;
  font-size: 2.4rem;
}
.header #search {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  left: 0;
  position: absolute;
  width: 100%;
  top: -10px;
  background: white;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header #search.show {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.header #search input {
  float: left;
  height: 30px;
  line-height: 30px;
  border: none;
  padding-left: 50px;
}
.header #search .i {
  color: #333;
  top: 0;
}
.header #search .toggle-search {
  left: auto;
  right: 0;
  font-size: 24px;
  font-size: 2.4rem;
  cursor: pointer;
}
.landing {
  padding: 170px 0 200px;
  background: url(../img/home-alt.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  min-height: 100%;
}
@media all and (max-width: 640px) {
  .landing {
    padding: 100px 0 70px;
  }
}
.landing h1 {
  font-size: 70px;
  font-size: 7rem;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
  text-transform: uppercase;
}
.landing h6 {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.3;
  margin-top: 20px;
}
.landing .action .btn {
  color: white;
  font-weight: normal;
}
.landing .status-wrap {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.landing .status {
  width: 100%;
  height: 5px;
  position: relative;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.landing .status .level {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  background: #16a085;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.ld-section {
  padding: 100px 0 0;
  display: inline-block;
  width: 100%;
}
.ld-section h1 {
  font-size: 40px;
  font-size: 4rem;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
}
.ld-section h2 {
  font-size: 24px;
  font-size: 2.4rem;
  padding-top: 50px;
}
.ld-section h3 {
  font-size: 17px;
  font-size: 1.7rem;
  margin-bottom: 50px;
  line-height: 1.4;
}
.ld-section p {
  line-height: 1.4;
}
.ld-section .feature {
  margin-bottom: 20px;
}
.ld-section .feature img {
  width: 100%;
  margin: 20px 0 7px;
}
.ld-section .feature h4 {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem;
}
.ld-section.dk {
  background: whitesmoke;
}
.sonar {
  margin-top: -150px;
  position: relative;
}
.sonar .talk {
  position: absolute;
  width: 100px;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: 0 auto;
}
.invite {
  margin-top: 40px;
  width: 100%;
  display: inline-block;
  padding: 20px 20px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
.invite .btn {
  margin-left: 10px;
}
.create-account {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: white;
  min-height: 100%;
  width: 100%;
  z-index: 200;
}
.setup-header {
  padding-top: 15%;
}
@media all and (min-width: 860px) {
  .setup-header {
    position: fixed;
    width: 18em;
  }
}
.setup-header .logo {
  margin-bottom: 20px;
  margin-right: 10px;
}
.setup-header h1 {
  font-size: 26px;
  font-size: 2.6rem;
  margin-bottom: 40px;
  padding-top: 10px;
  color: #34495e;
  line-height: 1.4;
  margin-bottom: 20px;
}
.setup-header h3 {
  line-height: 1.4;
  color: #6d7982;
  margin-top: 0;
}
@media all and (min-width: 640px) {
  .setup {
    border-left: solid 1px #eeeeee;
    padding: 15% 0 0;
  }
}
.footer {
  background: #eeeeee;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  padding: 30px 0 15px;
}
.footer .logo {
  float: left;
}
.footer ul {
  margin-left: 20px;
  float: left;
  border-left: solid 2px #16a085;
  padding-left: 20px;
}
.footer ul a {
  margin-bottom: 5px;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444;
  display: block;
}
.footer .copyright {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
  text-align: right;
}
 > .content {
  padding: 5% 0 20px 0;
}
 > .content .white-wrap {
  background: white;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
}
.content .white-wrap.lg {
  padding: 60px 40px;
}
@media all and (max-width: 640px) {
  .content .white-wrap.lg {
    padding: 10px 0;
  }
}
@media all and (max-width: 640px) {
  .content .white-wrap {
    padding: 10px 0;
  }
}
 > .content .next {
  padding: 50px 0 0 0;
}
 > .content .next span {
  margin-right: 4px;
}
 > .content .upload-avatar {
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
 > .content .skill-wrap {
  width: 90px;
  height: 100px;
  text-align: center;
  float: left;
  margin-right: 20px;
  background: #f1c40f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f1c40f));
  background: -ms-linear-gradient(bottom, #f39c12, #f1c40f);
  background: -moz-linear-gradient(center bottom, #f39c12 0%, #f1c40f 100%);
  background: -o-linear-gradient(#f1c40f, #f39c12);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1c40f', endColorstr='#f39c12', GradientType=0);
  display: table;
  padding: 20px;
  border-radius: 2px;
  color: white;
}
 > .content .skill-wrap p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  text-transform: uppercase;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0px;
}
 > .content ul.tagit li.tagit-choice {
  background: #16a085;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #15977e), color-stop(1, #16a085));
  background: -ms-linear-gradient(bottom, #15977e, #16a085);
  background: -moz-linear-gradient(center bottom, #15977e 0%, #16a085 100%);
  background: -o-linear-gradient(#16a085, #15977e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16a085', endColorstr='#15977e', GradientType=0);
}
 > .content .dot-after {
  margin-bottom: 20px;
  padding: 0 0 20px;
  position: relative;
}
.content .dot-after:after {
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #DDD;
  position: absolute;
  left: 50%;
  bottom: -10px;
}
.progress {
  width: 100%;
  text-align: center;
}
@media all and (max-width: 640px) {
  .progress {
    margin: 20px 0 40px 0;
  }
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 28px;
  height: 28px;
  border-radius: 32px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 30px;
  height: 6px;
  top: -2px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 24px;
  border-radius: 24px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 12px;
}
/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #2079ad;
  border-color: #2079ad;
}
.progress .bar.active {
  background: #34495e;
}
.progress .circle.done .label {
  color: #FFF;
  background: #2079ad;
}
.progress .circle.active .label {
  color: #FFF;
  background: #2079ad;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.dc-status {
  position: fixed;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 6px 15px;
  z-index: 9999;
  color: white;
  top: 0;
  font-size: 13px;
  font-size: 1.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.dc-status.danger {
  background: #fa5e5b;
}
.dc-status.success {
  background: #2ecc71;
}
.dc-status.info {
  background: #34495e;
}
.full-height,
body {
  height: 100%;
}
@media all and (min-width: 640px) {
  .wrap {
    height: 100%;
  }
}
.wrap .leftCol,
.wrap .midCol,
.wrap .rightCol {
  height: 100%;
  float: left;
  padding-top: 45px;
}
.wrap .leftCol {
  background: #10161c;
  width: 180px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 14px;
  font-size: 1.4rem;
}
@media all and (max-width: 860px) {
  .wrap .leftCol {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.wrap .leftCol.moveX {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.wrap .midCol {
  background: #f7f7f7;
  width: 100%;
  position: relative;
  padding: 45px 0 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.wrap .midCol.play {
  background: url(http://subtlepatterns.com/patterns/geometry.png);
}
@media all and (min-width: 860px) {
  .wrap .midCol {
    padding: 0 0 0 180px;
  }
}
@media all and (max-width: 860px) {
  .wrap .midCol.moveX {
    -webkit-transform: translateX(180px);
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -o-transform: translateX(180px);
    transform: translateX(180px);
  }
}
.wrap .rightCol {
  width: 270px;
  top: 0;
  position: fixed;
  right: 0;
  background: white;
  z-index: 20;
}
.wrap .profileBox {
  padding: 20px 20px 0 20px;
}
.wrap .profileBox .img-wrap {
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 10px 0 -20px;
  background: #333;
}
.wrap .profileBox.circle {
  margin-left: 20px;
}
.wrap .profileBox.circle .img-wrap {
  border-radius: 50%;
}
.wrap .profileBox ._username {
  padding-top: 5px;
  font-size: 13px;
  font-size: 1.3rem;
}
.wrap .profileBox ._username a {
  color: #DDD;
  display: block;
  margin-bottom: 5px;
}
.wrap .menuTitle {
  clear: both;
  font-size: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: solid 1px #0c1116;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  margin: 20px 0 0;
}
.wrap .menuList li {
  line-height: 24px;
  font-size: 13px;
  font-size: 1.3rem;
  border-bottom: solid 1px #0c1116;
  border-top: solid 1px #131b23;
}
.wrap .menuList li a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px 20px;
}
.wrap .menuList li a:hover,
.wrap .menuList li a.active {
  color: white;
  text-decoration: none;
}
.wrap .menuList li a i {
  margin-right: 5px;
}
.wrap .secondaryMenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px 20px;
  clear: both;
}
.wrap .secondaryMenu li {
  float: left;
  font-size: 11px;
  font-size: 1.1rem;
  margin-right: 7px;
}
.wrap .secondaryMenu li a {
  color: rgba(255, 255, 255, 0.3);
}
.wrap .secondaryMenu li a:hover {
  color: white;
}
.wrap .secondaryMenu li a:after {
  content: "•";
  margin: 0 2px;
}
.wrap .secondaryMenu li:last-child a:after {
  display: none;
}
.wrap .similarList {
  padding: 20px;
}
.wrap .similarList h3 {
  margin-top: 40px;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
}
.wrap .similarList .img-wrap {
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  margin: 5%;
  border-radius: 5px;
  background: #333;
}
.wrap .tabs {
  padding: 20px;
  font-size: 14px;
  font-size: 1.4rem;
}
.wrap .tabs.v {
  width: 300px;
  background: #f7f7f7;
  height: 100%;
  float: left;
  -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 200;
}
@media all and (max-width: 860px) {
  .wrap .tabs.v {
    left: 0;
    display: none;
  }
}
.wrap .tabs.v button {
  opacity: 0;
}
.wrap .notifications {
  padding: 0 10px;
}
.wrap .notifications li {
  border-bottom: solid 1px #eeeeee;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  font-size: 13px;
  font-size: 1.3rem;
}
.wrap .notifications li p {
  margin: 0 0 0 40px;
}
.wrap .notifications li .username {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
}
.wrap .notifications li .timestamp {
  padding-top: 5px;
  color: #999;
  font-size: 10px;
  font-size: 1rem;
}
.wrap .notifications > p {
  line-height: 1.45;
}
.wrap .notifications .img-wrap {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #333;
  float: left;
}
.wrap .notifications a {
  color: #16a085;
}
.invite-dashboard {
  clear: both;
}
.invite-dashboard .wrap {
  background: #34495e;
}
.invite-dashboard .wrap input {
  margin-top: 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: white;
  border-bottom: 0;
  padding: 10px 20px;
}
.invite-dashboard .wrap p {
  font-size: 13px;
  font-size: 1.3rem;
  padding: 20px 20px 0 20px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.invite-dashboard .hint {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 0 20px;
  display: none;
}
/*For Form Validation Error Message */
.errordiv {
  color: #fa5e5b;
  font-size: 11px;
  font-size: 1.1rem;
  padding-left: 15px;
  height: 15px;
}
.smalltext {
  font-size: 11px;
  font-size: 1.1rem;
}
/* Content */
.holder {
  padding: 20px 30px 0;
  margin: 0 auto;
  position: relative;
  height: 100%;
  float: left;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.holder.pad-big {
  padding: 5%;
}
.holder.pad-big-top {
  padding: 0;
  padding-top: 5%;
}
@media all and (max-width: 860px) {
  .holder {
    padding: 10px 20px 0;
  }
}
.holder.moveX {
  -webkit-transform: translateX(90px);
  -moz-transform: translateX(90px);
  -ms-transform: translateX(90px);
  -o-transform: translateX(90px);
  transform: translateX(90px);
}
.feed {
  position: relative;
}
.feed .item-i {
  width: 50px;
  height: 60px;
  float: left;
  background: url(../img/dc-tags.png);
}
@media all and (max-width: 640px) {
  .feed .item-i.float {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
.feed .item-i.post {
  background-position: 0 0;
}
.feed .item-i.project {
  background-position: -50px 0;
}
.feed .item-i.project-alt {
  background-position: 0 -60px;
}
.feed .section-title {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  font-size: 1.2rem;
  color: #2079ad;
  margin: 10px 0;
}
.feed.news .posts {
  margin-left: 255px;
}
@media all and (max-width: 640px) {
  .feed.news .posts {
    margin: 20px 0;
    display: inline-block;
  }
}
.feed.news .post-image {
  height: 175px;
  width: 175px;
  background: white;
  float: left;
  margin: 0 10px;
  overflow: hidden;
}
.feed.news .post-image img {
  border-radius: 2px;
}
@media all and (max-width: 640px) {
  .feed.news .post-image {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.feed.news .post-title {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  margin: 10px 0 0;
  text-transform: capitalize;
}
.feed.news .post-title a {
  color: #4e5051;
}
.feed.news .post-title a:hover {
  color: #2079ad;
}
.feed.news .post-meta {
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 2px;
  color: #656a74;
}
.feed.news .post-share {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  opacity: 0;
}
@media all and (max-width: 860px) {
  .feed.news .post-share {
    opacity: 1;
  }
}
.feed.news li:hover .post-share {
  opacity: 1;
}
.share-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  padding-top: 100px;
}
.share-modal a {
  color: #CCC;
}
.share-modal a.active {
  color: #141414;
}
.share-modal .action-desc {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
}
.share-modal .main-text {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.2;
}
.share-modal .closeshare {
  margin-top: 30px;
  font-size: 48px;
  font-size: 4.8rem;
}
#grid {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
  clear: both;
}
#grid.lg {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
#grid.big-tags {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.card {
  display: inline-block;
  background: #FEFEFE;
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.card header {
  width: 100%;
  display: inline-block;
}
.card header .img-wrap {
  height: 50px;
  width: 50px;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden;
  background: whitesmoke;
}
.card header .meta span {
  font-size: 12px;
  font-size: 1.2rem;
  color: #656a74;
}
.card header .meta .title {
  font-size: 13px;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1;
}
.card header .meta .title a {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
}
.card .body .content {
  position: relative;
}
.card .body .content h3 {
  margin: 0;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
}
.card .body .content h4 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 0 10px;
}
.card .body .content p {
  font-size: 13px;
  font-size: 1.3rem;
  margin-top: 5px;
}
.card .body .content p.attribution {
  font-size: 11px;
  font-size: 1.1rem;
}
.card .body .content .post-image {
  height: 0;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  margin: 10px 0;
}
.card .body .content .post-image:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.5)), color-stop(1, rgba(0, 0, 0, 0.1)));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.1)', endColorstr='rgba(0, 0, 0, 0.5)', GradientType=0);
}
.card .body .content .meta {
  font-size: 12px;
  font-size: 1.2rem;
  color: #141414;
}
.card .body .content .post-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  z-index: 2;
  color: white;
}
.card .body .content .post-text a {
  color: white;
}
@media (max-width: 640px) {
  #grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 1600px) {
  #grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.buttons li {
  background: white;
  border-radius: 2px;
}
.buttons li.no-link {
  padding: 15px 20px;
  color: #2079ad;
  margin-bottom: 5px;
}
.buttons li i {
  font-size: 20px;
  font-size: 2rem;
}
.buttons li a {
  padding: 15px 20px;
  display: block;
  border-radius: 2px;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  background: white;
  line-height: 20px;
}
.buttons li a span {
  line-height: 1;
}
.buttons li.active a {
  color: white;
  background: #16a085;
}
.buttons li.finished a {
  color: whitesmoke;
  background: #656a74;
}
.tools .badge {
  margin-bottom: 3px;
}
.big-tags .card {
  padding: 0;
  display: block;
  border-radius: 2px;
  text-align: center;
}
.big-tags .card a {
  display: block;
  background: #16a085;
  color: white;
  padding: 50px 100px;
  border-radius: 2px;
}
.big-tags .card a:hover {
  text-decoration: none;
  background: #2ecc71;
}
.comment {
  overflow: hidden;
  padding: 0 0 1em;
  margin: 0 0 0.5em;
  *zoom: 1;
  width: 100%;
}
.comment-img {
  float: left;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 33px;
  border-radius: 50%;
  overflow: hidden;
}
.comment-img img {
  display: block;
}
.comment-body {
  overflow: hidden;
}
.comment .text {
  padding: 10px;
  font-size: 14px;
  font-size: 1.4rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
}
.comment .text p:last-child {
  margin: 0;
}
.comment .text p:first-child {
  margin-top: 0;
}
.comment .attribution {
  margin: 0.5em 0 0;
  color: #666;
  font-size: 11px;
  font-size: 1.1rem;
}
/* Decoration */
.comments,
.comment {
  position: relative;
}
.comments:before,
.comment:before,
.comment .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 65px;
}
.comments:before {
  width: 3px;
  left: 61px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.comment:before {
  width: 9px;
  height: 9px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 16px 0 0 -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #ccc;
}
.comment:hover:before {
  background: #3b5998;
}
.comment .text:before {
  top: 18px;
  left: 78px;
  width: 9px;
  height: 9px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.bg-white {
  background: white;
}
.kudos {
  position: absolute;
  right: 100%;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  top: 20px;
  margin-right: 5px;
}
.kudos a {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 3px;
}
.title {
  font-size: 18px;
  font-size: 1.8rem;
  left: 0;
  line-height: 24px;
}
.title.bold {
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  color: #16a085;
}
.title small,
.title span {
  display: block;
  font-family: "Graphik Web", sans-serif;
  font-weight: 400;
  color: #777;
}
.title small {
  font-size: 12px;
  font-size: 1.2rem;
}
.txt-lg {
  font-size: 30px;
  font-size: 3rem;
}
.txt-md {
  font-size: 16px;
  font-size: 1.6rem;
}
.txt-sm {
  font-size: 12px;
  font-size: 1.2rem;
}
.lt {
  font-family: "Graphik Web", sans-serif;
  font-weight: 400;
}
.shift-50 {
  margin-left: 50px;
}
.shift-60 {
  margin-left: 60px;
}
.m-n {
  margin: 0;
}
.m-b-n {
  margin-bottom: 0;
}
.m-t-n {
  margin-top: 0;
}
.m-r-s {
  margin-right: 5px;
}
.m-l-s {
  margin-left: 5px;
}
.m-t-s,
.m-s {
  margin-top: 5px;
}
.m-b-s,
.m-s {
  margin-bottom: 5px;
}
.m-t-m {
  margin-top: 15px;
}
.m-b-m {
  margin-bottom: 15px;
}
.m-b-l {
  margin-bottom: 30px;
}
.m-t-s {
  margin-top: 5px;
}
.m-b-s {
  margin-bottom: 5px;
}
.v-a-m {
  vertical-align: middle;
}
.b-t-m {
  margin-top: 10px;
  padding-top: 20px;
  border-top: solid 1px whitesmoke;
}
.b-t-m.shadow {
  border-top: 0;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
}
.b-t-m.dk {
  border-color: #F0F0F0;
}
.badge {
  color: white;
  font-family: "Graphik Web", sans-serif;
  font-weight: 600;
  display: inline-table;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 11px;
  font-size: 1.1rem;
  position: relative;
  background: #34495e;
}
.badge.lg {
  font-size: 13px;
  font-size: 1.3rem;
  padding: 5px 12px;
}
.badge.designer,
.badge.available,
.badge.active {
  background: #16a085;
}
.badge.clear {
  text-transform: uppercase;
  background: white;
  color: #444;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.badge.unavailable,
.badge.cancelled {
  background: #fa5e5b;
}
.badge .i {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 2px;
}
.badge .setStatus {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding-top: 5px;
  z-index: 2;
  display: none;
  text-align: center;
  font-family: "Graphik Web", sans-serif;
  font-weight: 400;
}
.badge .setStatus ul {
  background: white;
  border-radius: 3px;
}
.badge .setStatus ul li a {
  padding: 7px 10px;
  display: block;
  color: #444;
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  border-bottom: solid 1px #eeeeee;
}
.badge .setStatus ul li a:hover {
  color: #16a085;
}
.badge .setStatus ul li:last-child a {
  border-bottom: 0;
}
.badge:hover .setStatus {
  display: block;
}
